In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
df=pd.DataFrame()
df=pd.read_csv('inbound.csv')
df.drop('Flag Codes', axis=1, inplace=True)
df.drop('Flags', axis=1, inplace=True)
df.drop('Indicator', axis=1, inplace=True)
df.drop('TIME', axis=1, inplace=True)
df.to_csv('a.csv')

df = df[np.isfinite(df['Value'])]
df = df.sort(['Value'], ascending=[False])

In [39]:
df1 = df.groupby('Country')['Value'].nlargest(1)

df.sort('Value', ascending=False)

,"﻿""EDULIT_IND""",LOCATION,Country,Time,Value
8938,26637,USA,United States of America,2013,784427.00000
8937,26637,USA,United States of America,2012,740482.00000
8936,26637,USA,United States of America,2011,709565.00000
8935,26637,USA,United States of America,2010,684807.00000
8934,26637,USA,United States of America,2009,660581.00000
8933,26637,USA,United States of America,2008,624474.00000
8932,26637,USA,United States of America,2007,595874.00000
8930,26637,USA,United States of America,2005,590158.00000
8928,26637,USA,United States of America,2003,586316.00000
8931,26637,USA,United States of America,2006,584719.00000
2606,26519,USA,United States of America,2013,583705.43309
8929,26637,USA,United States of America,2004,572509.00000
2605,26519,USA,United States of America,2012,542748.00000
2604,26519,USA,United States of America,2011,508441.49411
2603,26519,USA,United States of America,2010,479397.00000
2602,26519,USA,United States of America,2009,451725.00000
5888,26637,GBR,United Kingdom of Great Britain and Northern I...,2012,427686.00000
5887,26637,GBR,United Kingdom of Great Britain and Northern I...,2011,419946.00000
2601,26519,USA,United States of America,2008,419580.00000
5889,26637,GBR,United Kingdom of Great Britain and Northern I...,2013,416693.00000
5886,26637,GBR,United Kingdom of Great Britain and Northern I...,2010,389958.00000
2600,26519,USA,United States of America,2007,388673.00000
2598,26519,USA,United States of America,2005,373254.00000
2599,26519,USA,United States of America,2006,372172.00000
5885,26637,GBR,United Kingdom of Great Britain and Northern I...,2009,368968.00000
2596,26519,USA,United States of America,2003,368145.00000
5986,26638,USA,United States of America,2013,359357.00000
2597,26519,USA,United States of America,2004,356881.00000
5883,26637,GBR,United Kingdom of Great Britain and Northern I...,2007,351470.00000
5884,26637,GBR,United Kingdom of Great Britain and Northern I...,2008,341791.00000
...,...,...,...,...,...
1570,26420,TJK,Tajikistan,2004,1.00000
1569,26420,TJK,Tajikistan,2003,1.00000
3824,26519,LIE,Liechtenstein,2009,1.00000
3613,26505,MAR,Morocco,2008,1.00000
5176,26650,LUX,Luxembourg,2006,1.00000
3609,26505,MAR,Morocco,2004,1.00000
6452,26631,MLT,Malta,2012,1.00000
6228,26631,KOR,Republic of Korea,2004,1.00000
9248,26650,LVA,Latvia,2009,1.00000
9001,26616,LCA,Saint Lucia,2013,1.00000
6246,26648,LIE,Liechtenstein,2011,1.00000
6247,26648,LIE,Liechtenstein,2012,1.00000
4938,26650,KAZ,Kazakhstan,2006,1.00000
412,26475,BRN,Brunei Darussalam,2004,1.00000
8864,26616,ESP,Spain,2006,1.00000
392,26420,PLW,Palau,2013,1.00000
2117,26505,MLT,Malta,2011,1.00000
817,26420,ATG,Antigua and Barbuda,2009,1.00000
8660,26616,BGR,Bulgaria,2005,1.00000
7915,26616,ECU,Ecuador,2012,1.00000
5518,26648,LSO,Lesotho,2012,1.00000
5520,26650,BEL,Belgium,2004,1.00000
2441,26571,GUY,Guyana,2010,1.00000
7871,26648,BRN,Brunei Darussalam,2011,1.00000
7870,26648,BRN,Brunei Darussalam,2010,1.00000
7869,26648,BRN,Brunei Darussalam,2009,1.00000
7868,26648,BRN,Brunei Darussalam,2008,1.00000
7867,26648,BRN,Brunei Darussalam,2007,1.00000
7600,26638,MYS,Malaysia,2013,0.00000
6226,26638,IRL,Ireland,2013,0.00000

NameError: name 'df' is not defined